<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332984392756-rrcjt3tlk74mn9q8u42pvjg3ptvvpq44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332984392756-rrcjt3tlk74mn9q8u42pvjg3ptvvpq44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332984392756-9vrdjvj9itmp7rfuhmua6v5uvpr433bf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0eDfNmy7JxUUxBe6DRbXHIWOYg_1a2ts</string>
	<key>GCM_SENDER_ID</key>
	<string>332984392756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.covid-19-symptom-tracker.teamgrace</string>
	<key>PROJECT_ID</key>
	<string>covid-symptom-tracker-1637f</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-symptom-tracker-1637f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332984392756:ios:3963336ad8a7133077be61</string>
	<key>DATABASE_URL</key>
	<string>https://covid-symptom-tracker-1637f.firebaseio.com</string>
</dict>
</plist>